<div class="comment-main-level">
    <!-- -->

    <div class="comment-box">
        <div class="comment-head">
            {{#each this.userC}}
            {{!-- <div class="comment-avatar"><img
                    src="/assets/images/user/{this.avatar}" alt=""></div> --}}
            <h6 class="comment-name by-author"> {{this.prenom}} {{this.nom}}</h6>
            {{/each}}
            <span>{{{formatDate this.date "DD MMMM YYYY à HH:MM"}}}</span>
            {{#if this.userC}}
            <i class="bi bi-heart"></i>
            <i class="bi bi-exclamation-octagon"></i>
            <i class="bi bi-reply-fill"></i>
            {{>article/form}}
            {{/if}}
        </div>
        <div class="comment-content">
            {{this.content}}
        </div>
    </div>
</div>