<form action="/reply/commentaire/{{this.id}}" method="post">
    <input type="text" name="com" id="">
    <button type="submit">SEND</button>
</form>
<form action="/deleteCom/{{this.id}}?_method=DELETE" method="post">
    <button type="submit">DEL</button>
</form>