{{#ifCond resp true}}
{{#if @root.user}}
<form action="/reply/commentaire/{{this.id}}" method="post">
    <input type="text" name="com" id="">
    <button type="submit">SEND</button>
</form>
{{/if}}
{{/ifCond}}

{{#each respUser}}
{{#ifCond @root.user.id this.id}}
<form action="/delete/commentaire/{{../this.id}}?_method=DELETE" method="post">
    <button type="submit">DEL</button>
</form>
{{/ifCond}}
{{/each}}
