<section id="slider">

    <div id="creations" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="slider-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            {{#each ArticleID.GetImgCrea}}

            <div id="it-{{this.id}}" class="carousel-item"
                style="background-image: url('/assets/images/creations/{{ this.img_url }}');background-repeat:no-repeat;background-size:contain; background-position: center; ">
            </div>
            {{/each}}
        </div>

        <a class="carousel-control-prev" href="#creations" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#creations" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>

<script>
    function ef() {
        document.getElementById(`it-{{parms}}`).classList.add('active')
    }
    ef()
</script>
