<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Contactez-moi</h2>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Nom</label>
                            <input style="width: 100%;" type="text" name="nom" />
                        </div>
                        <div class="col-6">
                            <label for="">Email</label>
                            <input style="width: 100%;" type="email" name="email" />
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="">
                            <label for="">Sujet</label>
                            <input style="width: 100%;" type="text" name="sujet" />
                        </div>
                        <div class="">
                            <label for="">Message</label>
                            <textarea style="width: 100%;" name="" id="message"></textarea>
                        </div>
                    </div>
                    <div class="btn-contact">
                        <button type="button" class="btn btn-secondary" id="Btncontc">Envoyer</button>
                    </div>

                </div>
            </div>
        </div>
    </div>