<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xs-12 col-xm-12 col-md-6">
                        <div class="bg-contact"></div>
                    </div>
                    <div class="itemid col-xs-12 col-xm-12 col-md-6 d-flex justify-content-center text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor congue ipsum, vitae
                            egestas
                            lorem malesuada id. Nam in imperdiet urna. Sed dolor erat, semper eget lorem at, iaculis
                            egestas
                            lacus. Nunc egestas maximus justo sed blandit. Duis interdum magna vel velit rhoncus, eu
                            sodales
                            purus faucibus. Suspendisse viverra eu ipsum ut euismod. Vestibulum varius arcu sed lectus
                            volutpat tempor. Suspendisse accumsan, metus quis luctus aliquet, tellus metus faucibus
                            neque,
                            quis aliquet elit purus sit amet mi. Aliquam interdum semper tincidunt. Praesent a ex
                            lacinia
                            nulla tincidunt rhoncus.

                            Mauris ut mattis lectus, ut tristique ligula. Phasellus pulvinar sagittis dolor, eget
                            aliquet
                            orci euismod non. Phasellus quis hendrerit urna. Aliquam accumsan consequat felis, ac
                            euismod
                            felis lacinia at. Mauris gravida sem id viverra tempus. Maecenas augue leo, pharetra sit
                            amet
                            lacus eget, faucibus maximus ex. Etiam magna metus, gravida quis laoreet pharetra, auctor
                            vel
                            lectus. Sed pulvinar, nulla id aliquam accumsan, nisi mauris tincidunt tortor, sit amet
                            porta
                            est nunc nec magna. Integer in enim eleifend, gravida dolor id, iaculis felis. Donec vel
                            facilisis ligula. Duis ut porttitor turpis. Phasellus est arcu, iaculis nec facilisis sed,
                            facilisis a eros.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>