<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="po-e-1" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: auto;">
        <div class="toast-header">
            <strong class="me-auto">Message automatique</strong>
            <small class="mx-2">A l'instant</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Vous ne pouvez pas envoyer de message vide
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="po-e-2" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: auto;">
        <div class="toast-header">
            <strong class="me-auto">Message automatique</strong>
            <small class="mx-2">A l'instant</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Votre email est invalide
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="po-e-3" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: auto;">
        <div class="toast-header">
            <strong class="me-auto">Message automatique</strong>
            <small class="mx-2">A l'instant</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Vous devez saisir un nom & un prénom
        </div>
    </div>
</div>