<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                        class="purecounter pt-3"></span>
                    <p>Clients satisfait</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-cone-striped"></i>
                    <span data-purecounter-start="0" data-purecounter-end="{{creations}}" data-purecounter-duration="1.5"
                        class="purecounter pt-3"></span>
                    <p>Travaux achevé</p>
                </div>
            </div>
        </div>

    </div>
</section>