{{!-- 
    Partial: Banner
 --}}

<!-- Bannière -->
<header class="d-flex justify-content-center align-items-center" style="flex-direction: column;">
    <h1>Bienvenue</h1>
    <br>
    <h4 style="color: white;">sur notre site web !</h4>
</header>