{{!--
Partial: Header
--}}

<!-- Header -->
<header class="d-flex justify-content-center" style="z-index: -1;">
  <div style="position:relative;">
    <div>
      <h1 style="color: white; z-index:99; position:absolute; top:10vh; left:8vw;">Bienvenue</h1>
      <br>
      <h4 style="color: white; z-index:99;position:absolute; top:16vh; left:8vw;">sur Etoile Services !</h4>


      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="">
          <div class="carousel-item active">
            <img src="https://www.teahub.io/photos/full/106-1063591_dual-monitor-wallpaper-gaming.jpg"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.teahub.io/photos/full/106-1063591_dual-monitor-wallpaper-gaming.jpg"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.teahub.io/photos/full/106-1063591_dual-monitor-wallpaper-gaming.jpg"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Suivant</span>
        </button>
      </div>
      {{!-- <div style="height: 57vh;width: 100%;background-color:hsl(0deg 0% 0% / 25%);;position: absolute;">
        <br>
      </div> --}}
    </div>
  </div>
</header>