{{!--
Partial: Hero
--}}

<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Bienvenue sur <span>Etoile Services</span></h1>
    </div>
</section>