{{!--
Partial: Hero
--}}

<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Bienvenue sur <span>Etoile Services</span></h1>
    </div>
</section>

{{#if errors }}
<h4 style='color: red'> {{ errors }} </h4>
{{/if }}

{{#if success }}
<button type="button" class="btn btn-secondary" id="Btncontc">Envoyer</button>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="po" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: auto;">
        <div class="toast-header">
            <strong class="me-auto">Message automatique</strong>
            <small class="mx-2">A l'instant</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ success }}
        </div>
    </div>
</div>
<script>
 var toastTrigger = document.getElementById('Btncontc')
    var toastLiveExample = document.getElementById('po')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script>
{{/if }}