
{{#if error}}
<div id="liveAlertPlaceholder"></div>
<script>
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    function alert(message, type) {
        var wrapper = document.createElement('div')
        wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

        alertPlaceholder.append(wrapper)
    }
    alert(`Vous êtes banni de ce site !<br>Si vous pensez qu'il sagit d'une erreur contactez l'administrateur`, 'danger')
</script>
{{/if}}
{{> home/hero }}
{{> home/services }}

{{> home/count }}

{{> home/creations }}

{{> contact/form }}