<main>
        <!-- Card list -->
        <div class="container">
            <div class="row">
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="my-5 col-xs-12 col-xm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.unsplash.com/photo-1635430428563-184bc6506df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bannière -->

    </main>
    