{{!-- Page creations:ID --}}


<div class="container">
    <div class="row">
        <di class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/creations">Créations</a></li>
                </ol>
            </nav>
        </di>
        <div class="container my-5">
            <div class="row">
                {{#each data}}
                <div class="col-xs-12 col-xm-12 col-md-4">
                    <div class="card">
                        <img src="/assets/images/creations/{{ this.img }}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text"><i>Fait le : {{ this.date }}</i></p>                            
                        </div>
                    </div>
                </div>
                <div class="itemid col-xs-12 col-xm-12 col-md-8">
                    <h4>{{ this.description }}</h4>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>