<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel3">Mot de passe oublié</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-12">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <div class="col-12">
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#confirm" data-bs-toggle="modal">Confirmer</button>
                    <button class="btn btn-primary" data-bs-target="#stop" data-bs-toggle="modal">Anuler</button>
                </div>
            </div>
        </div>
    </div>