<form action="/register" method="post" enctype="multipart/form-data">

    <div class="modal fade" id="modalRegister" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">S'inscrire</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="col-12">
                        <label for="registerInput" class="form-label">Votre image de profil</label>
                        <div class="col-12">
                            <input type="file" name="logo" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="text2" class="form-label">Prénom</label>
                        <div class="col-12">
                            <input required name="prenom"type="text" class="form-control" id="text1" placeholder="Maxime">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="text2" class="form-label">Nom</label>
                        <div class="col-12">
                            <input required name="nom" type="text" class="form-control" id="text2" placeholder="Jason">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-12">
                            <label for="registerInput" class="form-label">Email</label>
                            <div class="col-12">
                                <input required name="email" type="email" class="form-control" id="registerInput"
                                    placeholder="name@example.com">
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="inputPassword" class="col-sm-7 col-form-label">Mot de passe</label>
                            <div class="col-12">
                                <input required name="password" type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="inputPassword" class="col-sm-7 col-form-label">Répéter le mot de passe</label>
                            <div class="col-12">
                                <input required name="password_confirm" type="password" class="form-control"
                                    id="inputPassword">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Confirmer</button>
                </div>

            </div>
        </div>
    </div>

</form>