HTML {
    height: 100%;
}

BODY {
    background: #F7F8FA;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-family: Roboto, Helvetica, sans-serif;
    height: 100%;
    margin: auto;
    min-height: 100vh;
    text-align: center;
}

.content {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 75px;
}

.computer_icon {
    width: 280px;
}

H1 {
    color: #364145;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 40px;
    font-weight: 400;
    width: 100%;
}

.instruction {
    color: #666;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0;
    max-width: 550px;
    width: 100%;
}

.footer {
    -webkit-align-items: center;
    align-items: center;
    background-color: #F1F6FE;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
}

.triangle_icon {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 40px solid #F7F8FA;
    height: 0;
    width: 0;
}

.footer_content {
    margin: 105px 0 117px;
}

H4 {
    color: #1F4CA6;
    font-size: 22px;
    margin: 0;
}

.nav {
    display: -webkit-flex;
    display: flex;
}

.nav A {
    color: #000;
    font-size: 22px;
    margin: 1.3em 30px 0;
}

.nav A:link,
.nav A:visited {
    color: #000;
}

A {
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {

    .computer_icon {
        width: 45vw;
    }

    H1 {
        font-size: 6vw;
    }

    .instruction {
        font-size: 4vw;
    }

    .footer_content {
        margin: 37px 0 41px;
    }

    .triangle_icon {
        border-left-width: 5.82vw;
        border-right-width: 5.82vw;
        border-top-width: 6.65vw;
    }

    H4 {
        font-size: 4vw;
        margin-bottom: 1.16vw;
    }

    .nav {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .nav A {
        font-size: 4vw;
    }
}