<h2>Edit Item</h2>
<form action="/blog/article/{{ BlogID }}?_method=PUT" method="post">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Title</label>
    <textarea name="title" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Desc</label>
    <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Paraph</label>
    <textarea name="article" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
