<footer id="footer">

    {{!-- <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div> --}}

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-5 footer-links">
                    <h4>Lien rapide</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/creations">Créations</a></li>
                        {{#if session}}
                        {{#if isAdmin}}
                        <li><i class="bx bx-chevron-right"></i> <a href="/admin">Administration</a></li>
                        {{else}}
                        {{/if}}
                        {{/if}}
                        <li><i class="bx bx-chevron-right"></i> <a href="/politique-de-confidentialite">Politique de
                                confidentialité</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/cgu">Conditions générales d'utilisation</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-7 footer-contact d-flex justify-content-center align-items-center">
                    <a href="/" class="me-3"><img style="height: 70px;" src="/assets/images/all/logo.jpg"
                            alt="Logo Etoile Services"></a>
                    <p>
                        <strong>Tel:</strong> <a href="tel:0783079445">+33 07 83 07 94 45</a><br>
                        <strong>Email:</strong> <a
                            href="mailto:aeetoileservices@gmail.com">aeetoileservices@gmail.com</a><br>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6">
                </div>

                {{!-- <div class="col-lg-4 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="/newsletters" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div> --}}
                

                {{!-- <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Visiter ma page facebook</h4>
                    <div class="social-links mt-3">
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    </div>
                </div> --}}

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Etoile Services</span></strong> - Tous droits réservés
        </div>
        <div class="credits">
            Une création de <a href="https://axeletoile.fr/" style="color:#194699!important;">Axel Etoile</a>
        </div>
    </div>
</footer><!-- End Footer -->