
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-5 footer-links">
                    <h4>Lien rapide</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/creations">Créations</a></li>
                        {{#if user}}
                        {{#if user.role}}
                        <li><i class="bx bx-chevron-right"></i> <a href="/admin">Administration</a></li>
                        {{else}}
                        {{/if}}
                        {{/if}}
                        <li><i class="bx bx-chevron-right"></i> <a href="/politique-de-confidentialite">Mention légales</a></li>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-7 footer-contact d-flex justify-content-center align-items-center">
                    <a href="/" class="me-3"><img style="height: 70px;" src="/assets/images/all/logo.jpg"
                            alt="Logo Etoile Services"></a>
                    <p>
                        <strong>Tel:</strong> <a href="tel:0783079445">+33 7 83 07 94 45</a><br>
                        <strong>Email:</strong> <a
                            href="mailto:aeetoileservices@gmail.com">aeetoileservices@gmail.com</a><br>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6">
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Etoile Services</span></strong> - Tous droits réservés
        </div>
        <div class="credits">
            Une création de <a href="https://axeletoile.fr/" style="color:#194699!important;">Axel Etoile</a>
        </div>
    </div>
</footer><!-- End Footer -->
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>