<footer class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row ftr">
                        
                        <div class="col-7">
                            <h5>Lien rapide</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/"
                                        class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-muted">Blog</a>
                                </li>
                                <li class="nav-item mb-2"><a href="/contact"
                                        class="nav-link p-0 text-muted">Contact</a></li>
                                        {{#if session }}
                            {{#if isAdmin }}
                                <li class="nav-item mb-2"><a href="/admin"
                                        class="nav-link p-0 text-muted">Admin</a></li>
                                        {{/if }}
                                        {{/if }}
                            </ul>
                        </div>

                        <div class="col-5 w-100p">
                            <form>
                                <h5>Abonnez-vous à notre newsletter</h5>
                                <p>Un condensé mensuel de ce qui est nouveau chez nous.</p>
                                <div class="d-flex w-100 gap-2">
                                    <label for="newsletter1" class="visually-hidden">Email</label>
                                    <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                                    <button class="btn btn-primary" type="button">S'aboner</button>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-center py-4 my-4 border-top">
                                <p>© Copyright 2021 - Axel Etoile - Tous droits réservés</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>