<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo"><img src="/assets/images/all/logo.jpg" alt="Logo Etoile Services"></a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a class="nav-link scrollto" href="/#services">Services</a></li>
                <li><a href="/creations">Créations</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li class="dropdown"><a href="#"><span>Espace client</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        {{#if isAdmin }}
                        <li><a href="/admin">Administration</a></li>
                        {{else }}
                        {{/if}}
                        {{#if session }}
                        <li><a href="/">Vos commentaires</a></li>
                        <li><a data-bs-toggle="modal" href="/#modalEditUser">Edition du Profil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a data-bs-toggle="modal" href="#Modallogout">Déconnexion</a></li>
                        {{else }}
                        <li><a data-bs-toggle="modal" href="#Modallogin">Connexion <i style="font-size: 20px!important;"
                                    class="bi bi-box-arrow-in-right"></i></a></li>
                        {{/if }}
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
{{#if session}}
    {{> modals/logout}}
    {{> modals/editProfil}}
    {{else}}
    {{> modals/login}}
    {{> modals/register}}
    {{> modals/forgot}}
    {{/if}}