<div class="row border-bottom">
    <div class="col-2 my-3">
        <div class="roundedImage"></div>
    </div>
    <div class="col-md-10 d-flex justify-content-center align-items-center mb-2">
        <div class="col-8">
            Maxime Legrand
        </div>
        <div class="col-4 d-flex flex-row justify-content-center align-items-center">
            <div class="mx-3" data-bs-toggle="modal" data-bs-target="#modalmsg">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path
                        d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalmsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Répondre à [user.name]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Message reçu:</label>
                        <textarea class="form-control" id="message-text"
                            placeholder="Nullam a viverra purus. Morbi in neque eu lorem ultrices congue id pharetra orci. Mauris interdum et ligula viverra rutrum. Mauris lacus elit, tristique vestibulum dui vitae, facilisis iaculis ante."
                            disabled readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message à envoyer:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirmer</button>
            </div>
        </div>
    </div>
</div>